* {
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

/* style navbar */

.navbar {
    gap: 5rem;
}


/* style logo */
.logo-ellipse {
    width: 19px;
    height: 19px;
    object-fit: contain;
}

.logo-polygon {
    width: 21px;
    height: 18px;
    object-fit: contain;
    margin-left: -3px;
}

.line1 {
    font-size: 28.24px;
    font-weight: 700;
    line-height: 32.47px;
    letter-spacing: -2px;
}

/* style navbar */

.nav-section{
    display: inline-flex;
    gap: 30rem;
}

.nav {
    gap: 10px;
}

.nav-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
}

.line2 {
    width: 123px;
    height: 52px;
    border-radius: 70px;
    background-color: #3461FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.nav-btn {
    gap: 5rem;
}

/* style Hero-Section */

.hero-section {
    gap: 10rem;
}

.hero-section-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-info {
    gap: 14px;
}

.line3 {
    font-weight: 600;
    font-size: 96px;
    line-height: 86px;
    letter-spacing: -4px;
    width: 518px;
}

.line4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    width: 424px;
}

/* style mail section */

.mail {
    gap: 12px;
}

.hero-email {
    width: 309px;
    height: 62px;
    border: none;
    border-radius: 37px;
    background-color: rgba(250, 250, 250, 1);
    padding: 20px 18px;
    color: #aaaaaa;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
}

.hero-btn {
    width: 114px;
    height: 62px;
    border-radius: 70px;
    background-color: #3461FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
}


/* style herosection imgs */

.heroimg-1 {
    width: 367px;
    height: 240px;
    object-fit: contain;
}

.heroimg-2 {
    width: 241px;
    height: 240px;
    object-fit: contain;
    margin-left: -4px;
}

.union1 {
    width: 149.98px;
    height: 110.5px;
    object-fit: contain;
    position: absolute;
    top: -64px;
    left: 280px;
}

.union1-obj {
    width: 55px;
    height: 69px;
    object-fit: cover;
    position: absolute;
    top: -43px;
    left: 325px;
}

.heroimg-3 {
    width: 241px;
    height: 190px;
    object-fit: contain;
    position: relative;
}

.heroimg-3obj {
    width: 84px;
    height: 105px;
    object-fit: contain;
    position: absolute;
    top: 277px;
    left: 84px;
}

.heroimg-4 {
    width: 367px;
    height: 190px;
    object-fit: contain;
    margin-left: -4px;
}

.heroimg-5 {
    width: 241px;
    height: 240px;
    object-fit: contain;
}

.heroimg-6 {
    width: 184px;
    height: 240px;
    object-fit: contain;
    position: relative;
    margin-left: -5px;
}

.heroimg-6obj {
    width: 99px;
    height: 123px;
    object-fit: contain;
    position: absolute;
    right: 230px;
    bottom: 67px;
}

.heroimg-7 {
    width: 183px;
    height: 240px;
    object-fit: contain;
    position: relative;
    margin-left: -4px;
}

.heroimg-7obj {
    width: 99px;
    height: 123px;
    object-fit: contain;
    position: absolute;
    top: 30rem;
    right: 43px;
}

.union2 {
    width: 149.98px;
    height: 110.5px;
    object-fit: contain;
    position: absolute;
    bottom: 200px;
    left: 168px;
}

.union2-obj {
    width: 55px;
    height: 69px;
    object-fit: cover;
    position: absolute;
    bottom: 224px;
    left: 214px;
}



/* style Companies we Work with */

.work-section {
    display: flex;
    justify-content: center;
    /* width: 1440px; */
    height: 552px;
    background-color: rgba(250, 250, 250, 1);
}

.workwith {
    gap: 5rem;
}

.workwith-info {
    gap: 2rem;
}

.line5 {
    width: 281px;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1px;
}

.line6 {
    width: 429px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #252525;
}

/* style company logo */

.company-name-1 {
    display: flex;
    column-gap: 170px;
}

.company-name-2 {
    display: flex;
    column-gap: 155px;
}

.spotify {
    width: 140px;
    height: 48px;
    object-fit: cover;
}

.google {
    width: 113px;
    height: 48px;
    object-fit: cover;
}

.uber {
    width: 72px;
    height: 48px;
    object-fit: cover;
}

.microsoft {
    width: 164px;
    height: 48px;
    object-fit: cover;
}

.shopify {
    width: 127px;
    height: 48px;
    object-fit: cover;
}

.evernote {
    width: 164px;
    height: 48px;
    object-fit: cover;
}

.adobe {
    width: 133px;
    height: 48px;
    object-fit: cover;
}

.paypal {
    width: 143px;
    height: 48px;
    object-fit: cover;
}

.amazon {
    width: 110px;
    height: 48px;
    object-fit: cover;
}

.asana {
    width: 127px;
    height: 48px;
    object-fit: cover;
}

/* style commitment section */

.commitment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.commitment-1 {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: auto auto;
    gap: 2rem 9rem;
}

.commitment-2 {
    gap: 4rem;
}

.line7 {
    font-size: 64px;
    font-weight: 600;
    line-height: 86.4px;
    margin: 0;
}

.line8 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

/* style learn more */

.line9 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1px;
}

.line10 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
}

.line11 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(52, 97, 255, 1);
}

.arrow {
    width: 14.93px;
    height: 13.06px;
    color: rgba(52, 97, 255, 1);
}


/* style how it works */

.howitworks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.howitworks-info {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.line12 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1px;
}

.line13 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    width: 500px;
}

.howitworks-img1 {
    width: 505px;
    height: 376px;
}

/* style how it works info-2  */

.howitworks-info2 {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: auto auto;
    gap: 6rem 20px;
}

.howit-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.howitworks-img {
    width: 102px;
    height: 102px;
    object-fit: contain;
}

.line14 {
    font-size: 28px;
    font-weight: 500;
    line-height: 37.8px;
    margin: 0;
}

.line15 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

/* style our work */

.ourwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.line16 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
}

.line17 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 756px;
}

/* style our work info 2 */

.ourwork-info2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ourwork-img {
    width: 400px;
    height: 324px;
    object-fit: contain;
}

.line18 {
    font-size: 28px;
    font-weight: 500;
    line-height: 37.8px;
    text-align: center;
}

.line19 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

/* style ourwork btn */

.ourwork-btn {
    width: 203px;
    height: 64px;
    border-radius: 64px;
    border: none;
    background-color: rgba(52, 97, 255, 1);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 32.4px;
}

/* style start your journy */

.startyourjourney-bg {
    display: flex;
    justify-content: center;
    height: 312px;
    background-color: #3461FF;
    background-image: url(./startyourjourney-bg.png);
    /* background-size: 991px 401px; */
    background-size: contain;
    background-repeat: no-repeat;
}

.startyourjourney {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16rem;
}

.line20 {
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -1px;
    width: 415px;
    color: white;
}

.startyourjourney-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line21 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    width: 610px;
    color: white;
}

/* style meet our team */

.ourteam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.ourteam-imgs {
    display: grid;
    grid-template-columns: 191px 191px 191px;
    grid-template-rows: auto auto;
    gap: 20px;
}

.ourteam-img {
    width: 191px;
    height: 191px;
    object-fit: contain;
}

/* style meet our team info */

.ourteam-info {
    display: flex;
    flex-direction: column;
    gap: 71px;
}

.ourteam-info1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.line22 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1px;
    margin: 0;
}

.line23 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.line24 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.ourteam-btn {
    font-size: 24px;
    font-weight: 500;
    line-height: 32.4px;
    border: none;
    color: white;
    width: 222px;
    height: 64px;
    background-color: rgba(52, 97, 255, 1);
    border-radius: 69px;
    text-align: center;
}

/* style about us */
.aboutus {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.line25 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1px;
}

.line26 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.carousal {
    display: inline-flex;
    gap: 20px;
}

.carousal1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    padding: 55px 73px 40px 40px;
    width: 513px;
    height: 300px;
    background-color: rgba(248, 249, 255, 1);
    border-radius: 30px;
}

.carousal-header {
    display: inline-flex;
    gap: 20px;
}

.aboutus-img {
    width: 85px;
    height: 85px;
    object-fit: cover;
}

.line27 {
    font-size: 28px;
    font-weight: 600;
    line-height: 37.8px;
}

.line28 {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}

.line29 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.owl-item {
    width: 532px !important;
    /* overflow: hidden; */
}

.owl-carousel {
    width: 1400px !important;
}

.owl-nav .owl-prev {
    background-color: #f8f9ff !important;
    font-size: 33px !important;
    width: 85px;
    height: 85px;
    border-radius: 50% !important;
    position: absolute;
    top: -145px;
    right: 190px;
    color: rgba(0, 0, 0, 0.3) !important;
}

.owl-prev:hover {
    background-color: #3461FF !important;
    color: white !important;
    opacity: 1 !important;
}

.owl-nav .owl-next {
    background-color: #f8f9ff !important;
    font-size: 33px !important;
    width: 85px;
    height: 85px;
    border-radius: 50% !important;
    position: absolute;
    top: -145px;
    right: 82px;
    color: rgba(0, 0, 0, 0.3) !important;
}

.owl-next:hover {
    background-color: #3461FF !important;
    color: white !important;
    opacity: 1 !important;
}


/* style start your journey with us now */

.journey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    background-color: rgba(35, 32, 56, 1);
    width: 1290px;
    height: 455px;
    border-radius: 56px;

}

.journeyinfo {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.line30 {
    font-size: 48px;
    font-weight: 500;
    line-height: 63px;
    color: white;
    width: 469px;
}

.journeybtn {
    width: 210px;
    height: 64px;
    border-radius: 69px;
    border: none;
    background-color: rgba(52, 97, 255, 1);
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 32.4px;
}

/* style start your journey info */

.journeyinfo-2 {
    background-color: rgba(224, 255, 34, 1);
    width: 352px;
    height: 352px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.journeyimg-1 {
    width: 65px;
    height: 94.55px;
    object-fit: contain;
}

.journeyimg-2 {
    width: 135.04px;
    height: 81.04px;
    object-fit: contain;
}

/* style how can we help you */

.helpyou {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

/* style accordion */

.accordion {
    width: 700px;
    /* --bs-accordion-btn-focus-border-color:none; */
}

.accordion-button {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

/* style accordion button */

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='white' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    background-color: rgba(52, 97, 255, 1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

/* style help you info-2 */

.helpyou-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.line31 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -1px;
    margin: 0 0 1rem 0;
}

.line32 {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6);
    width: 457px;
    margin: 0;
}

.helpyou-btn {
    width: 144px;
    height: 62px;
    border: none;
    border-radius: 70px;
    background-color: rgba(52, 97, 255, 1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.line33 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(52, 97, 255, 1);
}


/* style footer section */


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25rem;
}

.footer-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 392px;
    background-color: rgba(250, 250, 250, 1);

}

.footer-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}

.line34 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 19px 0 0 0;
}

.insta,
.twitter,
.facebook {
    width: 28px;
    height: 28px;
}

.footer-btn {
    font-size: 24px;
    font-weight: 500;
    line-height: 32.4px;
    color: white;
    background-color: rgba(52, 97, 255, 1);
    width: 295px;
    height: 64px;
    border: none;
    border-radius: 69px;
}

.footer-links {
    display: grid;
    /* grid-template-columns: 134px 133px 96px; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 3rem 95px;
}

.footer-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: black;
    text-decoration: none;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 41rem;
}

.footer-2bg {
    height: 119px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerline-2 {
    gap: 8rem;
}

.line35 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
    margin: 0;
}