* {
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 130px;

}

/* style background */

.herobg {
    display: flex;
    flex-direction: column;
    gap: 130px;
    background-image: url(./backgroundimg.png);
    background-repeat: no-repeat;
    background-size: 1534px 1106px;
}

/* style whole nav bar */

.navbar {
    display: flex;
    align-items: center;
    gap: 19rem;
    justify-content: center;
    padding: 40px 0 0 0;
    position: fixed;
    left: 140px;
    height: 80px;
    z-index: 3;
}

/* style logo */

.logo {
    height: 30px;
    width: 150px;
    display: flex;
}

/* style middle navbar */

.link {
    display: flex;
    gap: 9rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link li {
    list-style-type: none;
}

.link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
    float: left;
}

.link a:hover {
    color: #FF902B;
}


#sidebar {
    display: none;
}

.open-sidebar,
.close-sidebar {
    display: none;
}

/* style searchbar and cart  */

.searchbar {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

.search {
    background-image: url(./searchicon.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px;
    color: black;
    width: 222px;
    height: 40px;
    border-radius: 35px;
    background-color: white;
    border: none;
    text-align: center;
    box-shadow: 6px 2px 24px 0 rgba(0, 0, 0, 0.13);
}

.cart {
    height: 32px;
    width: 32px;
}

/* style first content  */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.intro1 {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.line1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    line-height: 72px;
}

.line2 {
    font-size: 18px;
    font-weight: 400;
    color: #7e7d7a;
    margin: 0;
    line-height: 27px;
}

/* style Order button and More Menu */

.orderbtns {
    display: flex;
    align-items: center;
    gap: 25px;
}

.order {
    background-color: #2F2105;
    width: 170px;
    height: 46px;
    border: none;
    border-radius: 33px;
    padding: 12px 32px 12px 32px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: flex;
    gap: 10px;
    box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
}

.ordercart {
    width: 22px;
    height: 22px;
}

.moremenu {
    width: 118px;
    height: 38px;
    border: none;
    border-radius: 33px;
    padding: 10px 24px 10px 24px;
    font-size: 12px;
    font-weight: 700;
    color: #F4AE26;
    background-color: transparent;
}

.coffeeimg1 {
    width: 526px;
    height: 416px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

/* styling Popular Items */

.popular {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.line3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 0 0 9rem;
}

.line3-now {
    border-bottom: 4px solid #ff902b;
    border-radius: 3px;
}

/* style all popularcoffee  */

.popularcoffee {
    display: flex;
    justify-content: center;
    gap: 35px;
    height: 470px;
    position: relative;
}

.shape {
    top: 6rem;
    width: 1305px;
    height: 374px;
    border-radius: 71px;
    background-color: #F9D9AA;
    position: absolute;
}

/* style rating */

.rating {
    display: flex;
    background-clip: padding-box;
    width: 77px;
    height: 35px;
    padding: 11px 5px;
    background-repeat: no-repeat;
    border-radius: 27px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 28px;
}

.ratinginfo {
    width: 67px;
    height: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    background-color: white;
    border-radius: 50px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.star {
    width: 16px;
    height: 16px;
}

.rating-no {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

/* style popularcoffee container */

.coffee {
    width: 355px;
    height: 383px;
    background-color: white;
    border: 6px solid #faf4eb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popularcoffee1 {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.popularcoffeeimg-1 {
    width: 307px;
    height: 226px;
    position: relative;
}

/* style desc of popular items */

.populardesc1 {
    gap: 85px;
    display: flex;
    justify-content: center;
}

.populardesc-2 {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.populardesc-3 {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.line4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.line5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.populardesc2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

/* style desc btns */

.populardescbtns {
    display: flex;
    gap: 20px;
}

.populardescbtn {
    width: 64px;
    height: 32px;
    border: 2px solid #ff902b;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #ff902b;
    background-color: white;
    opacity: 0.5;
}

.populardescbtn:hover {
    opacity: 1;
}

.populardescimg {
    height: 43px;
    width: 43px;
    object-fit: contain;
}

/* style How To Use Delivery Service  */

.deliveryservice {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.line6 {
    font-size: 32px;
    font-weight: 600;
    padding: 0 0 0 9rem;
    line-height: 48px;
}

.line6-service {
    border-bottom: 4px solid #ff902b;
}

.services {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.service1 {
    width: 370px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
}

.serviceimg {
    width: 159px;
    height: 159px;
}

.servicedesc1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
    text-align: center;
}

.servicedesc2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
}


/* style About Us */

.aboutus {
    display: flex;
    gap: 11rem;
    justify-content: center;
    background-image: url(./aboutbackground.png);
    background-size: 1526px 484px;
    height: 572px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.aboutcoffee {
    padding: 6px 6px 1px 6px;
    background-repeat: no-repeat;
    border-radius: 17px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
}

.aboutcoffee-img {
    width: 359px;
    height: 497px;
    border-radius: 12px;
    object-fit: contain;
}

.aboutinfo {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
}

.line7 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin: 0;
}

.line7-us {
    border-bottom: 4px solid #ff902b;
}

.line8 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
    width: 348px;
}

.line9 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    color: #7e7d7a;
}

.aboutbtn {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #F4AE26;
    text-align: center;
    border: none;
    border-radius: 33px;
    width: 142px;
    height: 38px;
    background-color: #2F2105;
}


/* style special menu for you */

.specialmenu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.line10 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 0 0 9rem;
}

.line10-you {
    border-bottom: 4px solid #ff902b;
}

/* style special menu */

.specialmenu1 {
    gap: 40px;
    display: flex;
    justify-content: center;
}

.specialmenu2 {
    gap: 40px;
    display: flex;
    justify-content: center;
}

.menu {
    width: 356px;
    height: 385px;
    background-color: white;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.specialimg {
    width: 307px;
    height: 226px;
    object-fit: contain;
}

.menu-rating {
    display: flex;
    background-clip: padding-box;
    width: 77px;
    height: 35px;
    padding: 11px 5px;
    background-repeat: no-repeat;
    border-radius: 27px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 34px;
    left: 36px;
}

/* style special menu desc */

.specialdesc {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

/* style desc-1 of menu card 1 */

.specialdesc1 {
    display: flex;
    gap: 8rem;
}

/* style desc-1 of menu card 2 */

.specialdesc2-1 {
    display: flex;
    gap: 149px;
}

/* style desc-1 of menu card 3 */

.specialdesc3-1 {
    display: flex;
    gap: 47px;
}

/* style desc-1 of menu card 4 */

.specialdesc4-1 {
    display: flex;
    gap: 109px;
}

/* style desc-1 of menu card 5 */

.specialdesc5-1 {
    display: flex;
    gap: 95px;
}

/* style desc-1 of menu card 6 */

.specialdesc6-1 {
    display: flex;
    gap: 51px;
}

.line11 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.line12 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.specialdesc2 {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.line13 {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #7E7D7A;
    width: 163px;
}

.specialcart {
    height: 43px;
    width: 43px;
}


/* style customer review */

.review-info {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.line14 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    width: 413px;
    word-spacing: 4px;
}

.line15 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7E7D7A;
    width: 352px;
}


/* style customer review */

.customer-review {
    height: 484px;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-left: 9rem;
    background-image: url(./customer-review-bg.png);
    background-repeat: no-repeat;
    background-size: 945px 484px;
}

.review-part1 {
    display: flex;
    gap: 50px;
}

.review {
    width: 257px;
    position: relative;
}

.customerimg {
    width: 203px;
    height: 280px;
    object-fit: contain;
}

.customerimg2 {
    width: 213px;
    height: 280px;
    object-fit: contain;
}

.customercomment {
    width: 237px;
    height: 97px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(255, 211, 144, 0.62) 0%, rgba(255, 211, 144, 0.42) 100%);
    position: absolute;
    top: 10rem;
    left: 3rem;
}

.comment {
    width: 226px;
    height: 86px;
    border-radius: 8px;
    background-color: #FFCB7C;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line16 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2F2105;
}

.line17 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #2F2105;
    width: 213px;
}

/* style carousel dots */

.owl-dots .owl-dot span {
    background-color: #f8e9d2 !important;
    margin-top: 20px !important;

}

.owl-theme .owl-dots {
    text-align: left !important;
    padding-left: 26rem;
}

.owl-dots .owl-dot.active span {
    background-color: #ff902b !important;
}

/* style footer section */

.footer {
    display: flex;
    justify-content: center;
}

.footerinfo {
    width: 1170px;
    height: 392px;
    border-radius: 24px;
    background-image: url(./footerimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1170px 392px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.footerline {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    word-spacing: 4px;
    color: white;
}

/* style email  */

.mail {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.email {
    width: 486px;
    height: 54px;
    border-radius: 42px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #7E7D7A;
    padding-left: 25px;
}

.emailbtn {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: white;
    width: 138px;
    height: 44px;
    background-color: #2F2105;
    border-radius: 33px;
    border: none;
    position: absolute;
    right: 6px;
}



@media screen and (min-width:2560px) {

    .container {
        width: 100%;
        height: auto;
    }

    .herobg {
        background-size: 2560px 1106px;
    }

    /* style navbar */

    .navbar {
        left: 41rem;
    }

    /* style popular items */

    .line3 {
        padding: 0 0 0 42rem;
    }

    /* style delivery service */


    .line6 {
        padding: 0 0 0 42rem;
    }

    /* style about us */

    .aboutus {
        background-size: 161rem 484px;
    }


    /* style special menu */

    .line10 {
        padding: 0 0 0 42rem;
    }


    /* style customer review */

    .customer-review {
        padding-left: 42rem;
        background-size: 100rem 484px;
    }
}


@media screen and (max-width:1280px) {

    /* style navbar */

    .navbar {
        gap: 15rem;
        left: 55px;
    }

    /* style intro */

    .intro {
        gap: 9rem;
    }

    /* style popular items */

    .line3 {
        padding: 0px 0 0 3rem;
    }

    /* style delivery service */

    .line6 {
        padding: 0px 0 0 3rem;
    }

    /* style special menu  */

    .line10 {
        padding: 0px 0 0 3rem;
    }

    /* style customer review */

    .customer-review {
        gap: 9rem;
        padding-left: 4rem;
    }

    .line14 {
        width: 410px;
    }

    .owl-theme .owl-dots {
        padding-left: 15rem;
    }

    .owl-dots .owl-dot span {
        background-color: gray !important;
    }
}


@media screen and (max-width:1024px) {
    .container {
        width: 100%;
        height: auto;
    }

    .herobg {
        height: 1128px;
    }

    /* style navbar */


    .navbar {
        gap: 11rem;
        left: 26px;
    }

    .link {
        gap: 3rem;
    }

    .link a {
        font-size: 16px;
    }


    .search {
        background-size: 22px 22px;
        width: 198px;
        height: 36px;
    }

    .cart {
        height: 28px;
        width: 28px;
    }


    /* style intro */

    .line3 {
        font-size: 30px;
        padding: 0 0 0 2rem;
    }

    .coffeeimg1 {
        width: 448px;
        height: 352px;
    }

    .intro {
        gap: 4rem;
    }

    .intro1 {
        gap: 19px;
    }

    .line1 {
        font-size: 45px;
        line-height: 59px;
    }

    .line2 {
        font-size: 16px;
        line-height: 26px;
    }


    /* style popular item */

    .popularcoffee {
        height: 443px;
    }

    .popularcoffeeimg-1 {
        width: 254px;
        height: 182px;
    }

    .line4 {
        font-size: 20px;
    }

    .line5 {
        font-size: 20px;
    }

    .populardesc-2 {
        gap: 119px;
    }

    .populardesc-3 {
        gap: 59px;
    }

    .populardescbtn {
        width: 54px;
        height: 28px;
        font-size: 15px;
    }

    .populardescimg {
        height: 34px;
        width: 34px;
    }

    .coffee {
        width: 292px;
        height: 311px;
        gap: 7px;
    }

    .shape {
        top: 6rem;
        width: 996px;
        height: 249px;
        border-radius: 32px;
    }


    /* style delivery service */


    .line6 {
        font-size: 30px;
        padding: 0 0 0 2rem;
    }

    .serviceimg {
        width: 150px;
        height: 150px;
    }

    .servicedesc1 {
        font-size: 22px;
    }

    .servicedesc2 {
        font-size: 16px;
    }


    /* style about us */

    .aboutus {
        gap: 7rem;
    }

    .aboutcoffee-img {
        width: 347px;
        height: 479px;
    }

    .aboutinfo {
        gap: 15px;
    }

    .line7 {
        font-size: 30px;
    }

    .line8 {
        font-size: 22px;
        width: 339px;
        line-height: 32px;
    }


    .line9 {
        font-size: 16px;
        line-height: 25px;
    }

    .aboutbtn {
        width: 132px;
        height: 36px;
        font-size: 11px;
    }


    /* style special menu */

    .line10 {
        font-size: 30px;
        padding: 0 0 0 2rem;
    }

    .menu {
        width: 300px;
        height: 329px;
        gap: 8px;
    }

    .specialmenu1 {
        gap: 28px;
    }

    .specialmenu2 {
        gap: 28px;
    }

    .specialimg {
        width: 269px;
        height: 201px;
    }

    .specialdesc {
        gap: 5px;
    }

    .specialdesc1 {
        gap: 7rem;
    }

    .specialdesc2-1 {
        gap: 133px;
    }

    .specialdesc3-1 {
        gap: 43px;
    }

    .specialdesc4-1 {
        gap: 98px;
    }

    .specialdesc5-1 {
        gap: 84px;
    }

    .specialdesc5-1 {
        gap: 43px;
    }

    .line11,
    .line12 {
        font-size: 22px;
    }

    .line13 {
        font-size: 12px;
        width: 140px;
        line-height: 17px;
    }

    .special-cart {
        width: 40px;
        height: 40px;
    }

    .menu-rating {
        top: 27px;
        left: 27px;
    }


    /* style customer review */


    .customer-review {
        gap: 1rem;
        padding-left: 2rem;
        background-size: 1053px 450px;
    }

    .line14 {
        font-size: 30px;
        width: 378px;
    }

    .line15 {
        font-size: 16px;
    }

    .line16 {
        font-size: 16px;
    }

    .line17 {
        font-size: 12px;
        width: 206px;
    }

    .comment {
        width: 210px;
        height: 80px;
    }

    .customercomment {
        width: 225px;
        height: 94px;
    }

    .owl-dots .owl-dot span {
        background-color: gray !important;
    }

    .owl-theme .owl-dots {
        padding-left: 14rem;
    }


    /* style footer */

    .footerinfo {
        background-size: 961px 344px;
        height: 375px;
    }

    .footerline {
        font-size: 30px;
    }

    .email {
        width: 462px;
        height: 52px;
        font-size: 15px;
    }

    .emailbtn {
        width: 126px;
        height: 40px;
    }
}



@media screen and (max-width:912px) {
    .container {
        width: 100%;
        height: auto;
        gap: 90px;
        overflow: hidden;
    }

    /* style background */

    .herobg {
        /* background-size: 854px 987px; */
        background-size: 912px 987px;
        gap: 90px;
        height: auto;
    }

    /* style navbar */

    .nav {
        position: fixed;
        top: 15px;
        right: 28px;
    }

    .navbar {
        position: fixed;
        z-index: 3;
        left: 28px;
        height: 55px;
        padding-top: 15px;
    }

    .link {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: fixed;
        top: 0;
        /* height: 1280px; */
        height: 1368px;
        right: -100%;
        z-index: 10;
        width: 300px;
        transition: 0.80s ease;
        background-color: white;
    }

    .link a {
        font-size: 21px;
        font-weight: 600;
    }

    .nav-link {
        flex-direction: column;
    }

    .open-sidebar,
    .close-sidebar {
        display: block;
    }

    .close-sidebar {
        position: absolute;
        left: 11px;
    }


    #sidebar:checked~.link {
        right: 0;
    }

    .search {
        width: 168px;
        font-size: 10px;
        background-size: 18px 18px;
    }

    .cart {
        width: 27px;
        height: 27px;
    }


    /* style intro */


    .intro {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .line3 {
        padding: 0 0 0 3rem;
    }

    .popularcoffee {
        flex-direction: column;
        align-items: center;
        height: 1183px;
    }

    .shape {
        width: 487px;
        height: 74rem;
        top: auto;
    }


    /* style delivery service1 */

    .line6 {
        padding: 0 0 0 3rem;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }


    /* style about us */

    .aboutus {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        height: 914px;
        background-size: 1526px 57rem;
    }

    .aboutinfo {
        align-items: center;
    }

    .line8 {
        width: auto;
    }


    /* style special menu for you */

    .line10 {
        padding: 0 0 0 3rem;
    }

    .specialmenu1,
    .specialmenu2 {
        flex-direction: column;
        align-items: center;
    }


    /* style customer review */

    .customer-review {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
        height: 565px;
        background-size: 945px 565px;
    }

    .item {
        display: flex;
        justify-content: center;
        width: 342px;
    }

    .owl-theme .owl-dots {
        padding-left: 20rem;
    }

    .owl-dots .owl-dot span {
        background-color: gray !important;
    }

    .review-info {
        align-items: center;
    }

    .line15 {
        width: 358px;
    }


    /* style footer */

    .footerinfo {
        background-size: 705px 301px;
    }

    .footerline {
        font-size: 23px;
    }

    .email {
        width: 375px;
        height: 42px;
        font-size: 14px;
    }

    .emailbtn {
        width: 100px;
        height: 34px;
        font-size: 12px;
        right: 4px;
    }
}


@media screen and (max-width:426px) {

    .container {
        width: 100%;
        height: auto;
    }

    /* style navbar */

    .link {
        width: 425px;
    }

    .logo {
        height: 27px;
        width: 136px;
    }

    .navbar {
        left: 20px;
    }

    .nav {
        top: 10px;
        right: 20px;
    }

    /* style intro  */

    .coffeeimg1 {
        width: 431px;
        height: 307px;
        object-fit: contain;
    }

    .line1 {
        font-size: 33px;
        line-height: normal;
    }

    .line2 {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }


    .order {
        width: 128px;
        height: 40px;
        font-size: 10px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }


    /* style popular for you */

    .line3 {
        padding: 0 0 0 2rem;
        font-size: 25px;
    }

    /* style delivery service */

    .popularcoffee {
        height: 1114px;
    }

    .line6 {
        padding: 0 0 0 2rem;
        font-size: 25px;
    }

    .shape {
        width: 373px;
        height: 68rem;
        border-radius: 30px;
    }

    /* style about us */

    .line7 {
        font-size: 25px;
    }

    .line8 {
        font-size: 17px;
    }

    .line9 {
        font-size: 16px;
    }

    .aboutbtn {
        width: 125px;
        height: 35px;
        font-size: 10px;
    }


    /* style special menu for you */

    .line10 {
        padding: 0 0 0 2rem;
        font-size: 25px;
    }


    /* style customer review */

    .item {
        width: auto;
    }

    .owl-theme .owl-dots {
        padding-left: 132px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 7px !important;
        height: 7px !important;
    }

    .line14 {
        font-size: 26px;
        width: auto;
    }

    .line15 {
        width: 300px;
        font-size: 15px;
    }


    /* style footer */

    .footerinfo {
        height: 250px;
        background-size: 395px 215px;
    }

    .footerline {
        font-size: 18px;
    }

    .email {
        width: 292px;
        height: 35px;
        font-size: 12px;
    }

    .emailbtn {
        width: 87px;
        height: 27px;
        font-size: 10px;
    }
}


@media screen and (max-width:431px) {
    /* style intro */

    .coffeeimg1 {
        width: 430px;
        height: 323px;
    }

    .line1 {
        font-size: 37px;
        line-height: 51px;
    }

    .line2 {
        font-size: 17px;
        line-height: normal;
    }

    /* style popular items */

    .line3 {
        font-size: 24px;
    }

    .popularcoffee {
        height: 1119px;
    }

    .shape {
        width: 373px;
        height: 68rem;
        top: auto;
    }


    /* style delivery service */

    .line6 {
        font-size: 24px;
    }

    /* style about us */

    .line8 {
        font-size: 17px;
    }

    /* style special menu */

    .line10 {
        font-size: 24px;
    }

    /* style customer review */

    .owl-theme .owl-dots {
        padding-left: 7rem;
    }

    .line14 {
        width: 380px;
    }

    /* style footer */

    .footerinfo {
        background-size: 393px 210px;
        height: 260px;
    }

    .footerline {
        font-size: 17px;
    }

    .email {
        width: 275px;
        height: 40px;
        font-size: 13px;
        padding-left: 18px;
    }

    .emailbtn {
        width: 82px;
        height: 30px;
        font-size: 11px;
        right: 6px;
    }
}

@media screen and (max-width:413px) {

    .link {
        width: 412px;
    }
}


@media screen and (max-width:415px) {

    /* style popular items */

    .shape {
        width: 355px;
        height: 67rem;
        border-radius: 30px;
    }

    .popularcoffee {
        height: 1121px;
    }
}

@media screen and (max-width:391px) {

    /* style sidebar */

    .link {
        width: 390px;
    }

    /* style intro */

    .coffeeimg1 {
        width: 395px;
        height: 283px;
    }

    /* style about us */

    .line8 {
        font-size: 15px;
    }

    .line9 {
        font-size: 14px;
    }

    /* style footer */

    .footerinfo {
        height: 203px;
        background-size: 370px 178px;
    }

    .footerline {
        font-size: 16px;
    }

    .email {
        width: 269px;
        height: 34px;
        font-size: 11px;
    }
}

@media screen and (min-width:360px) {

    /* .link {
        height: 1280px;
    } */

    .line14 {
        width: auto;
    }
}

@media screen and (max-width:376px) {

    /* style navbar */

    .link {
        width: auto;
    }

    .logo {
        height: 24px;
        width: 121px;
    }

    .navbar {
        left: 16px;
    }

    .nav {
        right: 16px;
    }

    /* style intro */

    .coffeeimg1 {
        width: 376px;
        height: 272px;
    }

    .intro1 {
        gap: 14px;
    }

    .line1 {
        font-size: 29px;
    }

    .line2 {
        font-size: 13px;
    }


    /* style popular items */

    .popularcoffee {
        height: 1062px;
    }

    .coffee {
        width: 312px;
        height: 330px;
        gap: 10px;
    }

    .line3 {
        font-size: 20px;
    }

    .popularcoffeeimg-1 {
        width: 278px;
        height: 190px;
    }

    .line4 {
        font-size: 20px;
    }

    .line5 {
        font-size: 20px;
    }

    .populardescbtn {
        width: 53px;
        height: 27px;
        font-size: 13px;
    }

    .populardescimg {
        height: 35px;
        width: 35px;
    }

    .shape {
        width: 351px;
        height: 69rem;
    }

    .rating {
        width: 64px;
        height: 30px;
        top: 28px;
        left: 21px;
    }

    /* style delivery service */

    .line6 {
        font-size: 20px;
    }

    .servicedesc1 {
        font-size: 19px;
    }

    .servicedesc2 {
        font-size: 17px;
    }


    /* style about us */

    .aboutcoffee-img {
        width: 308px;
        height: 426px;
    }

    .aboutinfo {
        gap: 13px;
    }

    .line7 {
        font-size: 20px;
    }


    .line8 {
        font-size: 15px;
    }

    .line9 {
        font-size: 14px;
    }

    .aboutbtn {
        width: 112px;
        height: 33px;
        font-size: 9px;
    }


    /* style special menu */

    .line10 {
        font-size: 20px;
    }

    .menu {
        width: 310px;
        height: 342px;
    }

    .specialimg {
        width: 265px;
        height: 196px;
    }

    .specialdesc {
        align-items: center;
    }

    .specialdesc1 {
        gap: 7rem;
    }

    .line11,
    .line12 {
        font-size: 20px;
    }

    .specialdesc2-1 {
        gap: 133px;
    }

    .specialdesc3-1 {
        gap: 55px;
    }

    .specialdesc4-1 {
        gap: 104px;
    }

    .specialdesc5-1 {
        gap: 90px;
    }

    .specialdesc2 {
        gap: 3rem;
    }

    .line13 {
        font-size: 12px;
    }

    .special-cart {
        width: 35px;
        height: 35px;
    }

    .menu-rating {
        width: 64px;
        height: 30px;
        /* top: 27px; */
        left: 30px;
    }

    .ratinginfo {
        width: 55px;
        height: 19px;
    }

    .rating-no {
        font-size: 11px;
    }

    .star {
        width: 10px;
        height: 10px;
    }


    /* style customer review */

    .owl-theme .owl-dots {
        padding-left: 111px;
    }


    /* style footer  */

    .footerinfo {
        height: 191px;
        gap: 0;
        background-size: 355px 171px;
    }

    .footerline {
        font-size: 14px;
    }

    .email {
        width: 240px;
        height: 33px;
        font-size: 10px;
    }

    .emailbtn {
        width: 74px;
        height: 25px;
        font-size: 9px;
    }
}


@media screen and (max-width:345px) {

    .container {
        gap: 57px;
    }

    .link {
        width: 321px;
    }

    .logo {
        height: 24px;
        width: 120px;
    }

    .navbar {
        left: 18px;
    }

    .nav {
        top: 9px;
        right: 18px;
    }

    /* style intro  */

    .coffeeimg1 {
        width: 321px;
        height: 233px;
    }

    .line1 {
        font-size: 25px;
    }

    .line2 {
        font-size: 11px;
    }

    .order {
        width: 97px;
        height: 34px;
        font-size: 9px;
    }

    .ordercart {
        width: 19px;
        height: 18px;
    }

    .moremenu {
        font-size: 11px;
    }


    /* style popular items */

    .line3 {
        font-size: 18px;
        padding: 0 0 0 1rem;
    }

    .popularcoffee {
        height: 856px;
        gap: 20px;
    }

    .coffee {
        width: 259px;
        height: 272px;
        gap: 1px;
    }

    .popularcoffeeimg-1 {
        width: 226px;
        height: 163px;
    }

    .line4,
    .line5 {
        font-size: 15px;
    }

    .populardesc2 {
        gap: 59px;
    }

    .populardesc-2 {
        gap: 108px;
    }

    .populardescbtn {
        width: 49px;
        height: 26px;
        font-size: 11px;
    }

    .populardescimg {
        height: 30px;
        width: 30px;
    }

    .shape {
        width: 295px;
        height: 56rem;
    }


    /* style delivery service */

    .line6 {
        font-size: 18px;
        padding: 0 0 0 1rem;
    }

    .service1 {
        width: 320px;
        height: 250px;
    }

    .serviceimg {
        width: 147px;
        height: 147px;
    }

    .servicedesc1 {
        font-size: 17px;
    }


    .servicedesc2 {
        font-size: 15px;
    }


    /* style about us */


    .aboutus {
        gap: 3rem;
        height: 672px;
    }

    .aboutcoffee-img {
        width: 259px;
        height: 360px;
    }

    .aboutinfo {
        gap: 15px;
    }

    .line8 {
        font-size: 13px;
        line-height: normal;
    }

    .line9 {
        font-size: 11px;
        font-weight: 500;
        line-height: normal;
    }

    .aboutbtn {
        width: 105px;
        height: 31px;
        font-size: 9px;
    }



    /* style special menu  */

    .line10 {
        font-size: 18px;
        padding: 0 0 0 1rem;
    }

    .specialmenu1 {
        gap: 28px;
    }

    .menu {
        width: 275px;
        height: 306px;
        gap: 2px;
    }

    .specialimg {
        width: 243px;
        height: 179px;
    }

    .specialdesc {
        gap: 0;
    }

    .line11,
    .line12 {
        font-size: 17px;
    }

    .specialdesc2 {
        gap: 31px;
    }

    .line13 {
        font-size: 10px;
        line-height: normal;
    }

    .special-cart {
        width: 27px;
        height: 27px;
    }


    /* style customer review */

    .customer-review {
        gap: 2rem;
        height: 494px;
    }

    .customercomment {
        width: 221px;
        height: 95px;
    }

    .comment {
        width: 210px;
    }

    .line16 {
        font-size: 16px;
    }

    .line17 {
        font-size: 12px;
        line-height: normal;
        width: 206px;
    }

    .owl-theme .owl-dots {
        padding-left: 69px;
    }

    .review-info {
        gap: 4px;
    }

    .line14 {
        font-size: 23px;
        width: 294px;
    }

    .line15 {
        width: 258px;
        font-size: 13px;
        line-height: normal;
    }


    /* style footer */

    .footerinfo {
        height: 166px;
        background-size: 308px 145px;
    }

    .footerline {
        font-size: 12px;
    }

    .email {
        width: 210px;
        height: 29px;
        font-size: 9px;
        padding-left: 13px;
    }

    .emailbtn {
        width: 63px;
        height: 21px;
        font-size: 8px;
    }
}